@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
* {
  box-sizing: border-box;
  border: 1px solid red;
}

ul {/* 목차에 구슬 없앰 */
  list-style: none;
}

a {/*  */
  text-decoration: none;
}


body {
  background-color: black;
}

header {/* 부모선택자 - 자바캠프에만 적용 */
  width: 100% ; /* 1 */
  border-bottom  : 1px solid #aaa; /* 2. 메뉴아래 구분선 */
  display        : flex; /* 오른쪽으로 쌓인다 */
  justify-content: space-between; /* 3. 양끝에 배치하면서 균등하게 배분 */
  top  : 0px;
  left : 0px;
  align-items    :center;
  font-family: 'Gugi', cursive;
  position:absolute;
  z-index: 2;
  /* 미디어쿼리를 통해 화면을 동적으로 처리할 수 있다. */
}
 
header h1 {
  margin : 0px 20px; /* 6. 마진 : 위아래 0px 양옆에 20px  */
  font : bold;
  color: rgb(144, 117, 217);
}

header .gnb {
  display : flex; /* 5. 안쪽에 있는 li들이 좌우배치 됨 */
}

header .gnb li {
  margin : 0px 20px; /* 6. 마진 : 위아래 0px 양옆에 20px  */
}

header .gnb li a {
  font: bold 16px/1 "Architects Daughter";
  color : white;
  letter-spacing: 2px; /* 자간설정 */
}

header .gnb li.on a {
  background-color: rgb(6, 232, 6);
  color: white;
}

header .lnb {
  display: flex;
}

header .lnb li {
  margin: 0px 10px;
}

header .lnb li a {
  font-size: 16px;
  margin: 0px 10px;
}

header .btnMenu {
  font-size: 24px;
  color: white;
  display: none;
}

.camp-bg {
  width: 100%;
  height: 100vh; /*vh : 뷰포트이다.  */
}

.video-wrap {
  position :absolute;
  left: 300px;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.video-wrap video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* 반응형 웹 처리 : 미디어쿼리 - 동적인 화면  */
@media screen and (max-width: 1024px) {
  header .gnb {
    display: none;
    }
  header .lnb {
    display : none;
  }
  header .btnMenu{
    display: block;
  }
  }

/*
DOM 트리 구조를 이해하는 것이 중요합니다. 
 */