* {
  border: 1px solid red;
}

section {
  width: 500px;
  height: 400px;
}

header {
  border-top-left-radius: 10%;
  font-size: 30px;
  padding: 20px;
  background-color: rgb(7, 7, 44);
}
/* 
 radious 50%

 스피닝 <img>

 밑줄
 */